<div class="container">
<h1>EMPLOYEE</h1>
Name: <%="#{@employee.first_name} #{@employee.last_name}"%>
<br>
Alias: <%=@employee.alias%>
<br>
Title: <%=@employee.title%>
<br>
Office: <%=@employee.office%>
<br>

<%=image_tag @employee.img_url%>
</div>